body {
    margin: 0;
    padding: 0;
  }

.menu-closed .router-link-active {
    background-color: transparent;
    color: inherit; 
}

.menu-closed .router-link-active .material-icons {
  color: inherit; 
  text-shadow: none; 
}

aside {
  z-index: 100 !important;
  position: fixed;
}

.grid {
  position: relative;
  z-index: 10 !important;
}

.relative.h-screen {
  z-index: 0;
}

