<div class="flex flex-col items-center justify-center h-screen bg-gray-100">

    <h1 class="text-3xl font-bold mb-8">Menu Inicial</h1>
  
    <div class="grid grid-cols-2 gap-4">
      <button routerLink="/clientes/listar" class="bg-blue-600 text-white px-6 py-3 rounded hover:bg-blue-700">
        Listar Clientes
      </button>
  
      <button routerLink="/clientes/cadastrar" class="bg-green-600 text-white px-6 py-3 rounded hover:bg-green-700">
        Cadastrar Cliente
      </button>
  
      <button routerLink="/servicos/listar" class="bg-indigo-600 text-white px-6 py-3 rounded hover:bg-indigo-700">
        Listar Serviços
      </button>
  
      <button routerLink="/servicos/cadastrar" class="bg-purple-600 text-white px-6 py-3 rounded hover:bg-purple-700">
        Cadastrar Serviço
      </button>
    </div>
  
  </div>